language: php
dist: focal
os: linux

cache:
  directories:
    - $HOME/.composer/cache
    - vendor

php:
  - 7.4
  - hvvm

# We only build pushes to master and pull requests
branches:
  only:
    - master

before_install:
  # Disable XDebug speeds up composer
  - phpenv config-rm xdebug.ini || return 0
  - sudo rm -rf ~/.nvm - curl -sL "https://deb.nodesource.com/setup_12.x" | sudo -E bash -
  - sudo apt-get install -y nodejs

install:
  - npm install
  - travis_retry composer install --no-interaction --prefer-dist --ignore-platform-reqs
  # Re-enable XDebug for phpunit code coverage
  - echo "zend_extension = xdebug.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - mkdir -p build/logs

before_script:
  - node ./tests/server/http_proxy_server.js &
  - node ./tests/server/server.js &
  - node ./tests/server/starttls_server.js &
  - node ./tests/server/no_ssl_server.js &

script:
  - ./vendor/bin/phpunit -c phpunit.xml.dist --coverage-clover build/logs/clover.xml

after_success:
  - travis_retry wget https://github.com/satooshi/php-coveralls/releases/download/v2.2.0/coveralls.phar
  - travis_retry php coveralls.phar -v